

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container{
    text-align: center;
}
input[type="text"].typeahead-input{
    height: 60px;
    font-size: 45px;
}

















